Source: kannasaver
Section: kde
Priority: optional
Maintainer: Frederik Schwarzer <schwarzer@gmail.com>
Uploaders: TODO
Build-Depends: debhelper (>= 7.0.50~), kdebase-workspace-dev (TODO), kdelibs5-dev (TODO)
Standards-Version: 3.9.1
Homepage: http://kde-apps.org/content/show.php/Kannasaver?content=16792
Vcs-Git: git://git.debian.org/pkg-kde/kde-extras/kannasaver.git
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-extras/kannasaver.git;a=summary

Package: kannasaver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Japanese character screensaver for KDE
 Kannasaver is a screensaver that displays random characters from the
 Japanese syllabary, ideally causing them to stick in your memory after
 you've viewed them a number of times. Kannasaver can be configured to
 display basic, extended, and compound characters from hiragana, katakana,
 or both simultaneously.
 .
 You should install a font with Japanese character support before using Kannasaver.
